
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Bên trái */
div {
    
}
.wrapper {
    position: relative;
}

.playlist {
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: 100vh;
    position: fixed;
    background-color: #FAF0E4;
    font-family: 'Poppins' , sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 0.5px solid #d6d2d2;
}
.picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 10%;

}
.ImagePlay: {
    size: 100%;
}
.track-art {
  
}
.buttons {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-bottom: 30px;
}
.slider_container {
    width: 90%;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.Lyrics {
    margin-top: 20px;
    width: 90%;
    height: 60% ;
}
.number {
    display: flex;
}
.current-time {
    margin-right: 175px;
}
.total-duration {
    margin-left: 175px;
}
.seek_slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 20px;
  }
  
.seek_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%; 
    background: #FF8551;
    cursor: pointer;
  }
  
.seek_slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FF8551;
    cursor: pointer;
  }
.volume_slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 10px;
  }
  
.volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%; 
    background: #FF8551;
    cursor: pointer;
  }
  
.volume_slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FF8551;
    cursor: pointer;
  }
/* Trên */
.search {
    position: absolute;
    top: 0;
    right: 0;
    width: 65%;
    position: fixed;
    height: 50px;
    z-index: 1;
    background-color: #9BCDD2;
    padding: 14px ;
    padding-left: 10px;
    display: flex;

}
.findText {
    width: 80%;
    height: 30px;
    border-radius: 20px 0 0px 20px;
    padding-left: 10px;
    border: none;
}
.find {
    width: 10%;
    height: 30px;
    padding-left: 10px;
    border: none;
}
.avarta {
    padding-left: 10px;
    border: none;
    size: ;
}
/* Bên phải */
.body {
    position: absolute;
    display: block;
    right: 0;
    top: 50px;
    width: 65%;
    background-color: #FFDEDE;
    font-family: 'Poppins' , sans-serif;
    overflow-y:visible ;
}  
.click_action {
    margin-left: 50px;

}
.hint {
    padding-bottom: 5px;
}
.TopPicks {
    margin-left: 50px;
    margin-right: 50px;
    margin: 50px;
    
}
.Picks {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    margin-left: 0px;
    overflow-y: hidden;
    scroll-behavior:auto ;
   margin-top: 30px;
   margin-bottom: 30px;
}
.imgPick{
    size: 100%;
}
.artistImg {
    height: 90%;
    border-radius: 6% 6% 0% 0%;
    height: 250px;
    width: 170px;
}
.pickItem {
    list-style: none;
    width: 170px;
    height: 310px;
    margin-right: 20px;
    border-radius: 5.5%;
    text-decoration-color: white;
}
.pickItem:hover {
    opacity: 0.5;
    transform: scale(1.01);
    transition: all 0.2s;
    align-items: center;
}
.hothit {
    margin: 50px;
    height: 350px;
}
.new {
    margin: 50px;
    height: 350px;
}
.Billboard {
    margin: 50px;
    height: 350px;
    width: 90%;
    height: 300px;
    margin-top: 15px;
    list-style: none;
    margin: 50px;
    -ms-overflow-style: none;
}
.Billboard.songs {
    display: flex;
    width: 100%;    
    overflow-x: scroll;
    margin-right: 50px;
}
.todayhits {
    border: 1px solid orange;
    margin: 50px;
    height: 350px;
}
.jv {
    border: 1px solid gray;
}
.list {
    border: 1px solid green;
    height: 57%;
    margin: 20px;
}
.hothit{
    width: 90%;
    height: 300px;
    margin-top: 15px;
    list-style: none;
    margin: 50px;
    overflow: hidden;
}
.imageRight {
    width: 190px;
    height: 190px;
    margin-left: 1px;
    transform: scale(1);
    transition: all 0.2s;
}

.songItem {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    transform: scale(1);
    transition: all 0.2s;
}
.songItem:hover {
    opacity: 0.6;
    transform: scale(1.05);
}
.songs {
    display: flex;
    width: 100%;    
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
}
.artist{
    display: flex;
    width: 100%;
}
.artistItem {
    margin-left: 10px;
    margin-top: 20px;
    list-style: none;
}

.new {
    width: 90%;
    height: 300px;
    margin-top: 15px;
    list-style: none;
}
.hits {
    width: 90%;
    height: 300px;
    margin-top: 15px;
    overflow-x: auto;
    scroll-behavior: smooth;
    list-style: none;
    border: 1px solid orange;
    margin: 50px;
    height: 350px;
}

/* MyraTran */
.description {
    display: flex;
}
.imgDes {
    width: 100%;
}
.songsMyra {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-left: 15px;
}
.clean {
    display: flex;
    margin-right: 100px;
}
.similarList {
    display: flex;
}
.artImg {
    width: 120px;
    border-radius: 100%;
}
.artItem:hover {
    opacity: 0.6;
}
.artItem {
    list-style: none;
    align-items: center;
    margin-top: 20px;
    margin-right: 28px;
    margin-left: 0px;
    width: 150px;
}
.artWork {
    display: flex;
    overflow-x: scroll;
    margin-right: 30px;
    margin-left: 30px;
}
.imgRadio {
    height: 190px;
    margin-top: 15px;
    border-radius: 9.5%;
}
.radioItem {
    list-style: none;
    margin-right: 20px;
    margin-bottom: 60px;
    transform: scale(1);
    transition: all 0.2s;
}
.radioItem:hover {
    opacity: 0.6;
    transform: scale(1.05);
}
.radio {
    margin-left: 50px;
    
}
.Radio {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}