
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Bên trái */
.wrapper {
    position: relative;
}

.playlist {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    position: fixed;
    background-color: #f9bec7;
    font-family: 'Poppins' , sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 10%;
}
.buttons {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-bottom: 30px;
}
.slider_container {
    width: 90%;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.Lyrics {
    border: 5px solid black;
    margin-top: 20px;
    width: 90%;
    height: 60% ;
}

/* Trên */
.search {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    position: fixed;
    height: 50px;
    z-index: 1;
    background-color: #f7cad0;
    padding: 14px ;
    padding-left: 10px;
    display: flex;
}
.findText {
    width: 80%;
    height: 30px;
    border-radius: 20px 0 0px 20px;
    padding-left: 10px;
    border: none;
}
.find {
    width: 10%;
    height: 30px;
    padding-left: 10px;
    border: none;
}
.avarta {
    padding-left: 10px;
    border: none;
    size: ;
}
.fa-solid fa-user {
    size: 9cm;
}

/* Bên phải */
.body {
    position: absolute;
    right: 0;
    top: 50px;
    width: 80%;
    background-color: #f7cad0;
    font-family: 'Poppins' , sans-serif;
}
.hothit {
    margin: 50px;
    height: 350px;

}
.new {
    margin: 50px;
    height: 350px;
}
.todayhits {
    border: 1px solid orange;
    margin: 50px;
    height: 350px;
}
.jv {
    border: 1px solid gray;
}
.list {
    border: 1px solid green;
    height: 57%;
    margin: 20px;
}
/* .buttons {
    height: 5%;
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 20px;
    margin-left: 40px ;

}
.picture {
    border: 1px solid black;
    border: 1px solid ffc8dd ;
    padding-top: 30px;
    height: 25%;
    margin: 20px;
    padding: 1px;

}
.slider_container {
    display: block;
    width: 250px;
    

}
.seek_slider {
    width: 400px;
    margin: 2px;
}

.details {
    display: block;
    justify-content: space-between;
    padding: 1px;
}
.track-name {
    margin-left: 130px;
    font-family: Arial, Helvetica, sans-serif;
}
.track-artist {
    margin-left: 130px;
}
.track-art {
    

} */
.hothit{
    width: 90%;
    height: 300px;
    margin-top: 15px;
    list-style: none;
    margin: 50px;
    overflow: hidden;
}
img {
    width: 190px;
    height: 190px;
    margin-left: 1px;
}
img:hover {
    width: 200px;
    height: 200px;
}
.songItem {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 20px;
    margin-right: 10px;
}
.songs {
    display: flex;
    width: 100%;    
    overflow-x: scroll;
}
.new {
    width: 90%;
    height: 300px;
    margin-top: 15px;
    list-style: none;
}
.hits {
    width: 90%;
    height: 300px;
    margin-top: 15px;
    overflow-x: auto;
    scroll-behavior: smooth;
    list-style: none;
    border: 1px solid orange;
    margin: 50px;
    height: 350px;
}

